$main-bg-color: #f3f1f3;
$box-shadow: 0px 0px 40px rgba(2, 46, 99, 0.07);
$title-color: #370644;
$border-color: #e7e4e7;
$label-color: #9f9d9f;
$basic-color: #fff;
$btn-bg-color: #370644;
$btn-border-color: #370644;
$btn-hover-color: #7a0e96;
$error-color: #370644;
$error-bg-color: #ff00001a;
$error-border-color: #ecb4e1;
$border-secondary-color: #ed0a9edb;
$success-color: #089327;
$modal-bg-color: rgba(0, 0, 0, 0.4);